@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #ccd7e8;
}

table {
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  width: 1200px;
  border-radius: 10px;
}

th, td {
  font-family:'Motnserrat',sans-serif;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border: #000000 1px solid;
  width:14%;
}

th {
  background-color: #7691ab;
  color: white;
}
.dates{
    background-color: #6db8b4;
    color: white;
}
hr {
  border: none;
  border-top: 1px solid black; 
}